Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@zeelkakdiya 
zeelkakdiya
/
React-todoapp
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
React-todoapp/.gitignore
@zeelkakdiya
zeelkakdiya react-redux
Latest commit 06f6eca 6 minutes ago
 History
 1 contributor
24 lines (22 sloc)  253 Bytes

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
React-todoapp/.gitignore at main · zeelkakdiya/React-todoapp